In [4]:
import pandas
from selenium import webdriver

#chrome_browser = webdriver.Chrome('./chromedriver.exe')

dataf = pandas.read_csv('12_DIN - TESORERIA CHILE.csv')
dataf

              TK  Otros  Concepto
0   RITMP0285945    NaN       NaN
1   RITMP0285945    NaN       NaN
2   RITMP0285924    NaN       NaN
3            NaN    NaN       NaN
4            NaN    NaN       NaN
5            NaN    NaN       NaN
6            NaN    NaN       NaN
7            NaN    NaN       NaN
8            NaN    NaN       NaN
9   RITMP0281707    NaN       NaN
10           NaN    NaN       NaN
11  RITMP0280022    NaN       NaN
12  RITMP0280008    NaN       NaN
13  RITMP0279307    NaN       NaN
14  RITMP0281445    NaN       NaN
15  RITMP0280590    NaN       NaN
16  RITMP0280550    NaN       NaN
17  RITMP0279285    NaN       NaN
18  RITMP0279873    NaN       NaN
19           NaN    NaN       NaN
20           NaN    NaN       NaN
21  RITMP0278658    NaN       NaN
22  RITMP0279576    NaN       NaN
23  RITMP0279157    NaN       NaN
24  RITMP0279163    NaN       NaN
25           NaN    NaN       NaN

In [5]:
def search_TK(line):
    if type(line) == float or type(line) == int:
        return line
    elif 'RIT' in line:
        try:
            chrome_browser.maximize_window()
            chrome_browser.get('https://tigre.service-now.com')
        except:
            return 'hi'

dataf['Otros'] = dataf['TK'].apply(search_TK)
dataf

              TK Otros  Concepto
0   RITMP0285945    hi       NaN
1   RITMP0285945    hi       NaN
2   RITMP0285924    hi       NaN
3            NaN   NaN       NaN
4            NaN   NaN       NaN
5            NaN   NaN       NaN
6            NaN   NaN       NaN
7            NaN   NaN       NaN
8            NaN   NaN       NaN
9   RITMP0281707    hi       NaN
10           NaN   NaN       NaN
11  RITMP0280022    hi       NaN
12  RITMP0280008    hi       NaN
13  RITMP0279307    hi       NaN
14  RITMP0281445    hi       NaN
15  RITMP0280590    hi       NaN
16  RITMP0280550    hi       NaN
17  RITMP0279285    hi       NaN
18  RITMP0279873    hi       NaN
19           NaN   NaN       NaN
20           NaN   NaN       NaN
21  RITMP0278658    hi       NaN
22  RITMP0279576    hi       NaN
23  RITMP0279157    hi       NaN
24  RITMP0279163    hi       NaN
25           NaN   NaN       NaN

In [6]:
def search_2(line):
    try:

IndentationError: expected an indented block (Temp/ipykernel_16716/3028415006.py, line 4)